.forgot-password-container {
    height: 50vh; // Full viewport height
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fafb;
    padding: 0 1.5rem; // Horizontal padding for small screens
  
    .form-box {
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
      width: 100%;
      max-width: 24rem;
  
      h2 {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1.5rem;
        color: #1f2937;
      }

  
      input {
        width: 90%;
        border: 1px solid #d1d5db;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        color: #111827;
        margin-bottom: 1rem;
        transition: border-color 0.2s ease;
  
        &:focus {
          border-color: #3b82f6;
          outline: none;
          box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
        }
      }
  
      button {
        width: 100%;
        background-color: #2563eb;
        color: #ffffff;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
  
        &:hover {
          background-color: #1d4ed8;
        }
  
        &:disabled {
          background-color: #93c5fd;
          cursor: not-allowed;
        }
      }
    }
  }
  